@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

.sidebar-icon {
  @apply size-20 bg-blue-900 rounded-3xl mx-auto flex justify-center hover:outline-3 hover:outline-white hover:cursor-pointer hover:rounded-xl hover:bg-blue-500 transition-all ease-in *:hover:cursor-pointer
}

.submit-btn {
  @apply bg-blue-800 w-29 h-16 mx-3 rounded-3xl font-bold hover:cursor-pointer hover:rounded-xl hover:outline-3 hover:outline-white hover:bg-blue-500 transition-all ease-in
}

.chart-icon {
  @apply mx-auto size-24
}

.graph-container {
  @apply w-full h-full p-2
}

body, html {
  overflow: hidden;
}